   form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10em;
   } 
   mat-form-field{
      padding-bottom: 10px; 
      width: 70%;
   }