

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <div class="lists">
    <mat-selection-list #jumpstuff  class="mt-5">
        @for (jump of jumps; track jump) {
          <mat-list-option  [value]="jump">{{jump}}</mat-list-option>
        }
        </mat-selection-list>
    <mat-selection-list #spinstuff  class="mt-5">
        @for (spin of spins; track spin) {
    <mat-list-option [value]="spin">{{spin}}</mat-list-option>
            }
    </mat-selection-list>
        <mat-selection-list #movesstuff  class="mt-5">
        @for (move of moves; track move) {
        <mat-list-option [value]="move">{{move}}</mat-list-option>
    }
    </mat-selection-list>
  </div>
    <div class="button-row">
        <button mat-raised-button class="mat-primary" (click)="updateDay()">Add to selected day</button>

        <a mat-raised-button class="mat-primary" [href]="" id='sendlink' target="_blank" >Send To Someone</a>

        <button mat-raised-button class="mat-warn" (click)="clearSelection()">Clear Selection</button>

    </div>

    <div class="mt-5 result-list">

    @for(date of schedule; track date){
        <div class="mini-list">
        <h3 class="date">{{  date[0] | date: 'EEEE, MMMM d' }}</h3>
        <mat-selection-list #result >
                @for (jump of date[1].jumps; track jump) {
                <mat-list-option>{{jump}}</mat-list-option>
                }
            
     
                @for (spin of date[1].spins; track spin) {
                <mat-list-option>{{spin}}</mat-list-option>
                }
        
                @for (move of date[1].moves; track move) {
                <mat-list-option>{{move}}</mat-list-option>
                }
            
        </mat-selection-list>
    </div>
    }

</div>
