<div class="flex-container">
<app-datepicker  (dateSelected)="onDateSelected($event)"></app-datepicker>
</div>
<div class="lists flex-between">
  <mat-selection-list #jumpstuff class="mt-5">
    @for (jump of jumps; track jump) {
    <mat-list-option [value]="jump">{{jump}}</mat-list-option>
    }
  </mat-selection-list>
  <mat-selection-list #spinstuff class="mt-5">
    @for (spin of spins; track spin) {
    <mat-list-option [value]="spin">{{spin}}</mat-list-option>
    }
  </mat-selection-list>
  <mat-selection-list #movesstuff class="mt-5">
    @for (move of moves; track move) {
    <mat-list-option [value]="move">{{move}}</mat-list-option>
    }
  </mat-selection-list>
</div>
<div class="button-row">
  <button mat-raised-button class="mat-primary" (click)="updateDay()">Add to selected day</button>
  <button mat-raised-button class="mat-warn" (click)="clearSelection()">Clear Selection</button>

</div>
<app-schedule-display [schedule]="schedule"></app-schedule-display>

